<html>
<head>
    <title>Web App Login</title>
</head>
<body>
    <h1>{{ .count }} 回目 <h1>
    <h1>ログイン</h1>
    <form method="post" action="/login">
        <p>User Name<input type="text" name="userName" size="30" placeholder="入力してください" ></p>
        <p>Password<input type="text" name="password" ></p>
        <p><input type="submit" value="Send"></p>
    </form>
</body>
</html>
